.react-pdf__Document {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  overflow-y: scroll;
}
 
/* .react-pdf__Page {
  display: inline-block;
  overflow: hidden;
  border: 1px solid #ccc;
} */